/*main colors*/
/*general rules for fonts and links appearance*/
/*import fonts from google */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap");
a {
  text-decoration: none;
  color: black;
}

.logo {
  font-family: "Shrikhand", cursive;
  font-weight: 350;
}

.logo--inverted {
  color: white;
}

.logo--menu {
  text-align: left;
  padding-left: 2rem;
}

body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 210%;
}

@-webkit-keyframes slideFromDown {
  0% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    opacity: .2;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slideFromDown {
  0% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    opacity: .2;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

.imageheader {
  -o-object-fit: contain;
  object-fit: contain;
  max-width: 100%;
  margin-bottom: -5rem;
}

.restaurantmenu {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  position: relative;
  top: -3rem;
  padding-bottom: 5em;
}

.restaurantmenu__heart {
  position: absolute;
  right: 2em;
  top: 1.4em;
  z-index: 1;
  -webkit-transition: opacity 0.7s ease-in;
  transition: opacity 0.7s ease-in;
}

.restaurantmenu__heart--solid {
  position: absolute;
  right: 2em;
  top: 1.4em;
  padding: 0.2rem;
  margin: -0.2rem;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-in;
  transition: opacity 0.6s ease-in;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(#9356dc, #ff79da);
  -webkit-text-fill-color: transparent;
}

.restaurantmenu__heart:hover {
  opacity: 0;
}

.restaurantmenu__heart:hover + .restaurantmenu__heart--solid {
  opacity: 1;
  -webkit-transform: scale(100%);
          transform: scale(100%);
  background-clip: text;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(#9356dc, #ff79da);
  -webkit-text-fill-color: transparent;
}

.fa-check-circle {
  transform: scale(1.7);
  -webkit-transform: scale(1.7);
  transform: rotate(1turn);
  -webkit-transition: -webkit-transform 360ms ease-out 70ms;
  transition: -webkit-transform 360ms ease-out 70ms;
  transition: transform 360ms ease-out 70ms;
  transition: transform 360ms ease-out 70ms, -webkit-transform 360ms ease-out 70ms;
}

.submenu__heading {
  text-transform: uppercase;
  font-weight: lighter;
  text-align: left;
  padding: 2rem;
  line-height: 00.5em;
}

.submenu__heading__deco {
  color: #99e2d0;
  font-weight: 800;
}

.submenu__entry {
  max-height: 5.5em;
  background-color: white;
  margin: 0.5em;
  border-radius: 1em;
  -webkit-box-shadow: 8px 8px 15px 15px #eaeaea;
          box-shadow: 8px 8px 15px 15px #eaeaea;
  text-align: left;
  position: relative;
  padding-bottom: 0.1rem;
  overflow: hidden;
  min-width: 23em;
  /*unmodified*/
}

.submenu__entry:nth-child(2) {
  -webkit-animation: slideFromDown 1.5s;
  animation: slideFromDown 1.5s;
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}

.submenu__entry:nth-child(3) {
  -webkit-animation: slideFromDown 1.5s;
  animation: slideFromDown 1.5s;
  -webkit-animation-delay: 450ms;
  animation-delay: 450ms;
}

.submenu__entry:nth-child(4) {
  -webkit-animation: slideFromDown 1.5s;
  animation: slideFromDown 1.5s;
  -webkit-animation-delay: 600ms;
  animation-delay: 600ms;
}

.submenu__entry:nth-child(5) {
  -webkit-animation: slideFromDown 1.5s;
  animation: slideFromDown 1.5s;
  -webkit-animation-delay: 750ms;
  animation-delay: 750ms;
}

.submenu__entry__textcontainer {
  display: block;
  -webkit-transition: margin-right ease-in-out 230ms, margin-left ease-in-out 230ms;
  transition: margin-right ease-in-out 230ms, margin-left ease-in-out 230ms;
  -webkit-transition: all ease-in-out 270ms;
  transition: all ease-in-out 270ms;
}

.submenu__entry__textcontainer__title {
  -webkit-transform: scale(80%);
          transform: scale(80%);
  padding-top: 0rem;
  font-size: 1.4em;
  margin-bottom: -1.2rem;
  margin-left: -6vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis !important;
  min-width: none;
  /*transition: transform 150ms ease-in-out 80ms;*/
}

.submenu__entry__textcontainer__description {
  font-weight: lighter;
  -webkit-transform: scale(80%);
          transform: scale(80%);
  margin-top: 1.5rem;
  font-size: 1.3em;
  margin-left: -5.3vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis !important;
  min-width: none;
  max-width: 100%;
  padding-bottom: 0.5rem;
  /*transition: transform 150ms ease-in-out 80ms;*/
}

.submenu__entry__movables__price {
  position: absolute;
  scale: 75%;
  -webkit-transform: scale(75%);
          transform: scale(75%);
  right: 1em;
  bottom: -0.6rem;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 150ms ease-in 80ms;
  transition: -webkit-transform 150ms ease-in 80ms;
  transition: transform 150ms ease-in 80ms;
  transition: transform 150ms ease-in 80ms, -webkit-transform 150ms ease-in 80ms;
  font-size: 1.4em;
}

.submenu__entry__movables__check {
  position: absolute;
  right: 0vw;
  bottom: 0em;
  color: white;
  background-color: #99e2d0;
  padding: 2.2em;
  border-bottom-right-radius: 0.7em;
  border-top-right-radius: 0.7em;
  z-index: 0;
  opacity: 1;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 330ms ease-in-out 50ms;
  transition: -webkit-transform 330ms ease-in-out 50ms;
  transition: transform 330ms ease-in-out 50ms;
  transition: transform 330ms ease-in-out 50ms, -webkit-transform 330ms ease-in-out 50ms;
}

@-moz-document url-prefix() {
  .submenu__entry__movables__check {
    right: 0rem;
  }
}

.submenu__entry:hover > .submenu__entry__movables h3 {
  -webkit-transform: translateX(-5.2em);
          transform: translateX(-5.2em);
}

.submenu__entry:hover > .submenu__entry__movables span {
  -webkit-transform: translateX(1%);
          transform: translateX(1%);
}

.submenu__entry:hover > .submenu__entry__movables span .fa-check-circle {
  -webkit-transform: rotate(3turn);
          transform: rotate(3turn);
}

.submenu__entry__title {
  -webkit-transform: scale(80%);
          transform: scale(80%);
  padding-top: 1rem;
  margin-bottom: -1.2rem;
  margin-left: -6vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis !important;
  min-width: none;
}

.submenu__entry__description {
  font-weight: lighter;
  -webkit-transform: scale(80%);
          transform: scale(80%);
  margin-top: 1.5rem;
  margin-left: -5.3vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis !important;
  min-width: none;
  max-width: 100%;
}

.submenu__entry__price {
  position: absolute;
  scale: 75%;
  -webkit-transform: scale(75%);
          transform: scale(75%);
  right: 1em;
  bottom: -0.6rem;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 150ms ease-in-out 80ms;
  transition: -webkit-transform 150ms ease-in-out 80ms;
  transition: transform 150ms ease-in-out 80ms;
  transition: transform 150ms ease-in-out 80ms, -webkit-transform 150ms ease-in-out 80ms;
}

.submenu__entry__check {
  position: absolute;
  right: 0vw;
  bottom: 0em;
  color: white;
  background-color: #99e2d0;
  padding: 2.2em;
  border-bottom-right-radius: 0.7em;
  border-top-right-radius: 0.7em;
  z-index: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 330ms ease-in-out 50ms;
  transition: -webkit-transform 330ms ease-in-out 50ms;
  transition: transform 330ms ease-in-out 50ms;
  transition: transform 330ms ease-in-out 50ms, -webkit-transform 330ms ease-in-out 50ms;
}

@-moz-document url-prefix() {
  .submenu__entry__check {
    right: 0rem;
  }
}

.submenu__entry:hover > .submenu__entry__check {
  -webkit-transform: translateX(1%);
          transform: translateX(1%);
}

.submenu__entry:hover > .submenu__entry__check .fa-check-circle {
  -webkit-transform: rotate(3turn);
          transform: rotate(3turn);
}

.submenu__entry:hover > .submenu__entry__price {
  -webkit-transform: translateX(-5.2em);
          transform: translateX(-5.2em);
}

.submenu__entry:hover > .submenu__entry__textcontainer {
  margin-right: 10.2em;
  -webkit-transform: translateX(1.2em);
          transform: translateX(1.2em);
  /*margin-left: .9203em;*/
  /* transform: translateX(-9.2em);*/
  /*p{
            margin-left: .9203em;
            }*/
}

.btngeneral {
  font-size: 120%;
  color: white;
  background-color: #9356dc;
  border-radius: 2em;
  padding: 1em;
  border: 0px solid black;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff79da), color-stop(70%, #9356dc), to(#9356dc));
  background-image: linear-gradient(to right bottom, #ff79da 0%, #9356dc 70%, #9356dc 100%);
  -webkit-background-image: -webkit-gradient(linear, left top, right bottom, from(#ff79da), color-stop(70%, #9356dc), to(#9356dc));
  -webkit-background-image: linear-gradient(to right bottom, #ff79da 0%, #9356dc 70%, #9356dc 100%);
  -webkit-box-shadow: 8px 8px 15px 15px #eaeaea;
          box-shadow: 8px 8px 15px 15px #eaeaea;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.btngeneral--menu {
  margin: 2rem;
  padding-left: 1em;
  padding-right: 1em;
}

.btngeneral:hover {
  -webkit-box-shadow: 8px 8px 15px 15px #d8d7d7;
          box-shadow: 8px 8px 15px 15px #d8d7d7;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff79da), color-stop(60%, #9356dc), to(#9356dc));
  background-image: linear-gradient(to right bottom, #ff79da 0%, #9356dc 60%, #9356dc 100%);
  -webkit-background-image: -webkit-gradient(linear, left top, right bottom, from(#ff79da), color-stop(60%, #9356dc), to(#9356dc));
  -webkit-background-image: linear-gradient(to right bottom, #ff79da 0%, #9356dc 60%, #9356dc 100%);
}

/* Footer BEM Block for use in entire site*/
footer {
  background-color: #353535;
  color: white;
  text-align: left;
  padding: 1em;
}

.footerlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__link {
  color: white;
  text-align: left;
  margin-top: 0.4em;
}

.footer__icon {
  margin-right: 0.5em;
}
/*# sourceMappingURL=menupage.css.map */