@import "./utils/variables.scss";
@import "./base/typography.scss";

$entry-delay: 60ms;

@keyframes slideFromDown {
    0%{
        transform: translateY(20%);
        opacity: .2;
    }
    100%{
        transform: translateY(0%); 
        opacity: 1;
    }
}

@mixin entryAnimation($n){
    @for $i from 2 through $n{
        &:nth-child(#{$i}){
            animation: slideFromDown 1.5s;
            animation-delay: $entry-delay * $i;
        }
    }
}

.imageheader{
    object-fit: contain;
    max-width: 100%;
    margin-bottom: -5rem;
}

.restaurantmenu{
    background-color: $lightgray;
    display: flex;
    flex-flow: column;
    border-top-left-radius: 2em;
    border-top-right-radius:2em;
    position:relative;
    top: -3rem;
    padding-bottom: 5em;
    &__heart{
        position: absolute;
        right: 2em;
        top:2em;
        scale: 150%;
        font-weight: lighter;
    }
}

.fa-check-circle{
    scale: 170%;
    transform: rotate(1turn);
    transition: transform 360ms ease-out 70ms;
}

.submenu{
    
    &__heading{
        text-transform: uppercase;
        font-weight: lighter;
        text-align: left;
        padding: 2rem;
        line-height: 00.5em;
        &__deco{
            color: $tertiary;
            font-weight: 800;
        }    
    }
    &__entry{
        @include entryAnimation(5);

        background-color: white;
        margin: 0.5em;
        border-radius: 1em;
        box-shadow: 8px 8px 15px 15px $darkgray;
        text-align: left;
        position: relative;
        padding-bottom: 0.1rem;
        overflow: hidden;
        &__title{
            scale: 80%;
            padding-top: 1rem;
            margin-bottom: -1.2rem;
            margin-left: -3rem;
        }
        &__description{
            font-weight: lighter;
            scale: 80%;
            margin-top: 1.5rem;
            margin-left: -3rem;
        }
        &__price{
            position: absolute;
            scale: 75%;
            right: 1em;
            bottom: -0.6rem;
            transform: translateX(0);
            transition: transform 150ms ease-in-out 80ms; 
        }
        &__check{
            display: inline-block;
            position: absolute;
            right: 0em;
            /*scale: 150%;*/
            bottom: 0em;
            color: white;
            background-color: $tertiary;
            padding: 2.2em;
            border-bottom-right-radius: 0.7em;
            border-top-right-radius: 0.7em;
            
            transform: translateX(100%);
            
            transition: transform 330ms ease-in-out 50ms;
        }

        &:hover > &__check{
            transform: translateX(1%) ;
            .fa-check-circle{
                transform:rotate(3turn);
            }
        }
        &:hover > &__price{
            transform: translateX(-5.2em)
        }        
    }
}


@import "./components/btngeneral.scss";
@import "./layout/footer.scss";
