/* main colors */
/* breakpoints */
/*general rules for fonts and links appearance*/
/*import fonts from google */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap");
a {
  text-decoration: none;
  color: black;
}

.logo {
  font-family: "Shrikhand", cursive;
  font-weight: 350;
  margin-top: 0px;
  padding-top: .5em;
}

.logo--inverted {
  color: white;
}

@media (min-width: 1000px) {
  .logo--inverted {
    margin-bottom: .8em;
  }
}

.logo--menu {
  text-align: left;
  padding-left: 3rem;
  font-size: 1.7em;
}

@media (min-width: 1000px) {
  .logo--menu {
    margin-bottom: .8em;
    margin-top: .3em;
  }
}

@media (min-width: 1000px) and (max-width: 1550px) {
  .logo--menu {
    font-size: 1.2em;
    margin-top: .5em;
    margin-bottom: -.5em;
    margin-left: -.4em;
  }
}

body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 210%;
  margin: 0px;
}

@media (max-width: 1550px) and (min-width: 1000px) {
  body {
    /*font-size: 1.1em;*/
    width: 100%;
  }
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg) scale(1);
            transform: translate3d(-50%, -50%, 0) rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(180deg) scale(1.2);
            transform: translate3d(-50%, -50%, 0) rotate(180deg) scale(1.2);
  }
  100% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(360deg) scale(1);
            transform: translate3d(-50%, -50%, 0) rotate(360deg) scale(1);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg) scale(1);
            transform: translate3d(-50%, -50%, 0) rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(180deg) scale(1.2);
            transform: translate3d(-50%, -50%, 0) rotate(180deg) scale(1.2);
  }
  100% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(360deg) scale(1);
            transform: translate3d(-50%, -50%, 0) rotate(360deg) scale(1);
  }
}

@-webkit-keyframes containerOff {
  0% {
    height: 100vh;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-9999px);
            transform: translateY(-9999px);
    opacity: 0;
    height: 0px;
    padding: -16px;
    margin: -16px;
    height: 0vh;
  }
}

@keyframes containerOff {
  0% {
    height: 100vh;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-9999px);
            transform: translateY(-9999px);
    opacity: 0;
    height: 0px;
    max-height: 0px;
    padding: -16px;
    margin: 0em;
  }
}

.spinnercontainer {
  -webkit-animation: step-start containerOff infinite;
  animation: step-start containerOff infinite;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.spinner {
  height: 100vh;
  opacity: 1;
  position: relative;
  -webkit-transition: opacity linear 0.1s;
  transition: opacity linear 0.1s;
}

.spinner::before {
  -webkit-animation: 2s linear infinite spinner;
  animation: 2s linear infinite spinner;
  border: solid 6px #99e2d0;
  border-bottom-color: #ff79da;
  border-radius: 50%;
  content: "";
  height: 40px;
  left: 50%;
  opacity: inherit;
  position: absolute;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  -webkit-transform-origin: center;
          transform-origin: center;
  width: 40px;
  will-change: transform;
}

header {
  -webkit-box-shadow: 0px 10px 20px lightgray;
          box-shadow: 0px 10px 20px lightgray;
}

/* HOMEPAGE STYLES*/
nav {
  background-color: #eaeaea;
  padding: 0.8em;
  margin-top: -1.2em;
}

@media (min-width: 1000px) {
  nav {
    font-size: 0.7em;
    padding: 0.5em;
    margin-top: -1.8em;
  }
}

.nav__icon {
  margin: 1em;
}

@media (min-width: 1000px) {
  .nav__icon {
    margin: 0.5em;
  }
}

.bookinfo {
  background-color: #f6f6f6;
  margin-top: -16px;
  padding-top: 2em;
  padding-bottom: 2em;
}

.bookinfo__text {
  font-weight: lighter;
  font-size: 110%;
  padding: 2em;
}

.btngeneral {
  font-size: 120%;
  color: white;
  background-color: #9356dc;
  border-radius: 2em;
  padding: 1em;
  border: 0px solid black;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff79da), color-stop(70%, #9356dc), to(#9356dc));
  background-image: linear-gradient(to right bottom, #ff79da 0%, #9356dc 70%, #9356dc 100%);
  -webkit-background-image: -webkit-gradient(linear, left top, right bottom, from(#ff79da), color-stop(70%, #9356dc), to(#9356dc));
  -webkit-background-image: linear-gradient(to right bottom, #ff79da 0%, #9356dc 70%, #9356dc 100%);
  -webkit-box-shadow: 8px 8px 15px 15px #eaeaea;
          box-shadow: 8px 8px 15px 15px #eaeaea;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.btngeneral--menu {
  margin: 2rem;
  padding-left: 1em;
  padding-right: 1em;
}

@media (min-width: 1000px) {
  .btngeneral--menu {
    width: 30vw;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.btngeneral:hover {
  -webkit-box-shadow: 8px 8px 15px 15px #d8d7d7;
          box-shadow: 8px 8px 15px 15px #d8d7d7;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff79da), color-stop(60%, #9356dc), to(#9356dc));
  background-image: linear-gradient(to right bottom, #ff79da 0%, #9356dc 60%, #9356dc 100%);
  -webkit-background-image: -webkit-gradient(linear, left top, right bottom, from(#ff79da), color-stop(60%, #9356dc), to(#9356dc));
  -webkit-background-image: linear-gradient(to right bottom, #ff79da 0%, #9356dc 60%, #9356dc 100%);
}

.howinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: auto;
  text-align: left;
  padding-top: 1em;
}

@media (min-width: 1000px) {
  .howinfo {
    text-align: center;
  }
}

.infobox {
  border-radius: 1.8em;
  background-color: #f6f6f6;
  padding: 1.8em;
  font-weight: bold;
  -webkit-box-shadow: 8px 8px 15px 15px #eaeaea;
          box-shadow: 8px 8px 15px 15px #eaeaea;
  /*
  @media (min-width: 815px){
      max-width: 70%;
      min-width: 70%;
      margin-left:auto;
      margin-right: auto;
  }*/
}

.infobox__number {
  background-color: #9356dc;
  color: white;
  padding: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 2em;
  margin-left: -2.6em;
}

.infobox__icon {
  padding: 1em;
}

.infobox:hover > .infobox__icon {
  color: #9356dc;
}

.infobox:hover {
  background-color: #f5edff;
}

.restsection {
  background-color: #f6f6f6;
  margin-top: 4em;
  padding-top: 2em;
  text-align: left;
}

.restsection__heading {
  margin-left: 1em;
}

.flexcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.restaurant {
  background-color: white;
  margin: 1em;
  border-radius: 1em;
  height: 18em;
  min-height: 14em;
  text-align: left;
  -webkit-box-shadow: 8px 8px 15px 15px #eaeaea;
          box-shadow: 8px 8px 15px 15px #eaeaea;
  position: relative;
}

.restaurant__img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 13em;
  float: top;
  width: 100%;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.restaurant__name {
  margin-top: 0.4em;
  margin-bottom: 0.3em;
  margin-left: 1em;
}

@media (min-width: 1000px) and (max-width: 1400px) {
  .restaurant__name {
    margin-top: 2%;
  }
}

.restaurant__location {
  margin-top: 0em;
  margin-bottom: 0.4em;
  margin-left: 1.2em;
  font-weight: lighter;
}

@media (min-width: 1000px) and (max-width: 1400px) {
  .restaurant__location {
    padding-top: -16px;
  }
}

.restaurant__new {
  background-color: #99e2d0;
  color: #008766;
  position: absolute;
  font-size: 1.3em;
  right: 3rem;
  top: 2rem;
  padding: 0.2em 1.5em 0.2em 1.5em;
}

.restaurant__heart {
  position: absolute;
  right: 4rem;
  bottom: 4rem;
  opacity: 1;
  -webkit-transition: opacity 0.7s ease-in-out;
  transition: opacity 0.7s ease-in-out;
  z-index: 1;
}

@media (min-width: 1000px) {
  .restaurant__heart {
    bottom: 7%;
  }
}

@media (min-width: 1000px) and (max-width: 1400px) {
  .restaurant__heart {
    right: 2rem;
  }
}

.restaurant__heart--solid {
  position: absolute;
  right: 4rem;
  bottom: 4rem;
  padding: 0.2rem;
  margin: -0.2rem;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-in-out;
  transition: opacity 0.6s ease-in-out;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(#9356dc, #ff79da);
  -webkit-text-fill-color: transparent;
}

@media (min-width: 1000px) {
  .restaurant__heart--solid {
    bottom: 7%;
  }
}

@media (min-width: 1000px) and (max-width: 1400px) {
  .restaurant__heart--solid {
    right: 2rem;
  }
}

.restaurant__heart:hover {
  opacity: 0;
}

.restaurant__heart:hover + .restaurant__heart--solid {
  opacity: 1;
  -webkit-transform: scale(100%);
          transform: scale(100%);
  background-clip: text;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(#9356dc, #ff79da);
  -webkit-text-fill-color: transparent;
}

/* Footer BEM Block for use in entire site*/
footer {
  background-color: #353535;
  color: white;
  text-align: left;
  padding: 1em;
}

@media (min-width: 1000px) {
  footer {
    padding-left: 0vw;
    text-align: center;
  }
}

.footerlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1000px) {
  .footerlinks {
    display: unset;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(15vw, auto))[4];
        grid-template-columns: repeat(4, minmax(15vw, auto));
    max-width: 90%;
    margin-left: 0;
    border-top: 1px solid white;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 1em;
  }
}

.footer__link {
  color: white;
  text-align: left;
  margin-top: 0.4em;
}

@media (min-width: 1000px) {
  .footer__link {
    font-size: 0.6em;
    text-align: center;
  }
}

@media (min-width: 1000px) {
  nav {
    font-size: 0.6em;
    padding: 0.2em;
    margin-top: -2em;
    z-index: -1;
  }
  .contentcontainer {
    max-width: 80%;
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (auto)[2];
    -ms-grid-columns: (auto)[3];
        grid-template: repeat(2, auto)/repeat(3, auto);
        grid-template-areas: "b r r" "h r r";
  }
}

@media (min-width: 1000px) and (max-width: 1550px) {
  .contentcontainer {
    max-width: unset;
  }
}

@media (min-width: 1000px) {
  .bookinfo {
    grid-area: b;
    -webkit-transform: scale(80%);
            transform: scale(80%);
    margin-bottom: 0em;
    font-size: 0.7em;
    margin: 0px;
    padding: 1em;
    min-width: 23vw;
    margin-top: 1em;
    margin-bottom: -2em;
    margin-left: -3em;
  }
}

@media (min-width: 1000px) and (max-width: 1550px) {
  .bookinfo {
    font-size: 0.6em;
    margin: auto;
    min-width: 27vw;
    margin-left: -0.5em;
    margin-bottom: -5.5em;
    margin-top: -0.2em;
    max-height: 90%;
  }
  .bookinfo__text {
    padding: 0em;
  }
}

@media (min-width: 1000px) {
  .howinfo {
    grid-area: h;
    font-size: 0.7em;
    -webkit-transform: scale(80%);
            transform: scale(80%);
    margin-top: -4em;
    padding-top: -2em;
    margin: 0px;
    padding: 0px;
    padding-left: 1.2em;
    -ms-grid-column-align: top;
        justify-self: top;
    margin-left: -1em;
  }
}

@media (min-width: 1000px) and (max-width: 1550px) {
  .howinfo {
    font-size: 0.6em;
    margin-left: 0em;
  }
}

@media (min-width: 1000px) {
  .restsection {
    -webkit-transform: scale(80%);
            transform: scale(80%);
    grid-area: r;
    width: auto;
    -ms-grid-column-align: start;
        justify-self: start;
    min-width: 70%;
    margin: -16px;
    padding: 1em;
    margin-top: -1.7em;
    margin-right: -1em;
    padding-right: 0em;
    margin-left: -4em;
  }
}

@media (min-width: 1000px) and (max-width: 1550px) {
  .restsection {
    min-width: 80vw;
    margin: 0px;
    margin-left: -2em;
    margin-top: -2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
  }
}

@media (min-width: 1000px) and (max-width: 1550px) {
  .restsection__heading {
    font-size: 1.1em;
    margin: 0em;
    padding-top: 0.2em;
    padding-left: 0.2em;
  }
}

@media (min-width: 1000px) {
  .infobox {
    text-align: left;
  }
}

@media (min-width: 1000px) and (max-width: 1550px) {
  .infobox {
    padding: 1.2em;
  }
}

@media (min-width: 1000px) {
  .flexcontainer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 60vw;
    height: 30em;
    /*overflow: hidden;*/
  }
}

@media (min-width: 1000px) and (max-width: 1550px) {
  .flexcontainer {
    height: 100vh;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 1000px) {
  .restaurant {
    min-height: -webkit-min-content;
    min-height: -moz-min-content;
    min-height: min-content;
    max-height: 18em;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    min-width: 22em;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
    max-width: 25vw;
    font-size: 0.7em;
    margin-bottom: 2em;
  }
}

@media (min-width: 1000px) and (max-width: 1400px) {
  .restaurant {
    min-width: 45%;
    height: 40vh;
    font-size: 0.6em;
    width: 100%;
  }
}

@media (min-width: 1000px) {
  .restaurant__img {
    height: calc(100% - 8vh);
  }
}

@media (min-width: 1000px) and (max-width: 1550px) {
  .restaurant__img {
    min-width: 1em;
    height: calc(100% - 12vh);
  }
}
/*# sourceMappingURL=style.css.map */