@import "./utils/variables.scss";
@import "./base/typography.scss";

@-webkit-keyframes spinner {
  0% {
      transform: translate3d(-50%, -50%, 0) rotate(0deg) scale(1);
  }
  50%{
      transform: translate3d(-50%, -50%, 0) rotate(180deg) scale(1.2);
  }
  100% {
       transform: translate3d(-50%, -50%, 0) rotate(360deg) scale(1);

  }
}

@keyframes spinner {
  0% {
      transform: translate3d(-50%, -50%, 0) rotate(0deg) scale(1);
  }
  50%{
      transform: translate3d(-50%, -50%, 0) rotate(180deg) scale(1.2);
  }
  100% {
       transform: translate3d(-50%, -50%, 0) rotate(360deg) scale(1);

  }
}

@-webkit-keyframes containerOff{
  0%{
    height: 100vh;
    opacity: 1;
  }

  100%{
    transform: translateY(-9999px);
    opacity: 0;
    height: 0px;
    padding: -16px;
    margin: 0em;
  }
}

@keyframes containerOff{
  0%{
    height: 100vh;
    opacity: 1;
  }

  100%{
    transform: translateY(-9999px);
    opacity: 0;
    height: 0px;
    padding: -16px;
    margin: 0em;
  }
}
.spinnercontainer{
  -webkit-animation: step-start containerOff infinite;
          animation: step-start containerOff infinite;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.spinner {
  // The height here is just for demo purposes
  height: 100vh;
  opacity: 1;
  position: relative;
  transition: opacity linear 0.1s;        
  &::before {
      -webkit-animation: 2s linear infinite spinner;
              animation: 2s linear infinite spinner;
      border: solid 6px $tertiary;
      border-bottom-color: $secondary;
      border-radius: 50%;
      content: "";
      height: 40px;
      left: 50%;
      opacity: inherit;
      position: absolute;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      transform-origin: center;
      width: 40px;
      will-change: transform;
      
  }
} 

/*
.loader{
    width: 3em;
    height: 3em;
    position: relative;
    
      &::before{
        animation: 2s linear infinite loaderspin;
        border-radius: 50%;
        border-color: $tertiary;
        border-top-color: $secondary;

      }



}

@keyframes loaderspin {
  0% {
      transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
       transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
*/
header{
    box-shadow: 0px 10px 20px  lightgray;
}
/* HOMEPAGE STYLES*/
nav {
  background-color: $darkgray;
  padding: 0.8em;
  margin-top: -1.2em;
}

.nav__icon{
      margin: 1em;
  }


.bookinfo {
  background-color: $lightgray;
  margin-top: -16px;
  padding-top: 2em;
  padding-bottom: 2em;
  &__text {
    font-weight: lighter;
    font-size: 110%;
    padding: 2em;
  }
}
 @import "./components/btngeneral.scss";


.howinfo {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  text-align: left;
  padding-top: 1em;
}

.infobox {
  border-radius: 1.8em;
  background-color: $lightgray;
  padding: 1.8em;
  font-weight: bold;
  box-shadow: 8px 8px 15px 15px $darkgray;
  &__number{
      background-color: $primary;
      color: white;
      padding: 0.2em;
      padding-left: 0.5em;
      padding-right: 0.5em;
      border-radius: 2em;
      margin-left: -2.6em;
  }
  &__icon{
      padding: 1em;
  }

  &:hover > &__icon{
      color: $primary;
  }

  &:hover{
    background-color: $purplegray;
  }
}


.restsection {
  background-color: $lightgray;
  display: flex;
  flex-flow: column;
  margin-top: 4em;
  padding-top: 2em;
  text-align: left;
  &__heading{
    margin-left: 1em;
  }
}

.restaurant {
  background-color: white;
  margin: 1em;
  border-radius: 1em;
  height: 18em;
  text-align: left;
  box-shadow: 8px 8px 15px 15px $darkgray;
  position: relative;
    &__img{
        -o-object-fit: cover;
           object-fit: cover;
        height: 13em;
        float: top;
        width: 100%;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
    }

    &__name{
        margin-top: 0.4em;
        margin-bottom: 0.3em;
        margin-left: 1em;
    }

    &__location{
        margin-top: 0em;
        margin-bottom: 0.4em;
        margin-left: 1.2em;
        font-weight: lighter;
    }

    &__new{
        background-color: $tertiary;
        color: $tertiarydark;
        position: absolute;
        font-size: 1.3em;
        right: 3rem;
        top: 2rem;
        padding: 0.2em 1.5em 0.2em 1.5em;
    }

    &__heart{
        position: absolute;
        right: 4rem;
        bottom: 4rem;
        
        opacity: 1;
        transition: all .3s ease-in-out;
        z-index: 0;
    }

    &__heart--solid{
        position: absolute;
        right: 4rem;
        bottom: 4rem;
        padding: 0.2rem;
        margin: -0.2rem;
        opacity: 0;
        transition: all 0.6s ease-in-out;
        background-clip: text;
      -webkit-background-clip: text;
      background-image: linear-gradient($primary, $secondary);
      -webkit-text-fill-color: transparent;
    }

    &__heart:hover{
      opacity: 0;  
      color: white;
       
        background-clip: text;
      -webkit-background-clip: text;
      font-weight: 900;
      background-image: linear-gradient($primary, $secondary);
      -webkit-text-fill-color: transparent;
      visibility: hidden;
      transform: scale(0.2);
      z-index: -1;
      
    }

    &__heart--solid:hover{
      
      stroke-width: 100px;
      transition: opacity 1s;
      opacity: 1;
      transition: all 0.6s ease-in-out;
      background-clip: text;
      -webkit-background-clip: text;
      background-image: linear-gradient($primary, $secondary);
      -webkit-text-fill-color: transparent;
      
    
      /*transition: all .4s ease-in-out;
      -webkit-background-clip: text;
      font-weight: 1200;
      background-image: linear-gradient($primary, $secondary);
      -webkit-text-fill-color: transparent;*/

    } 
}


@import "./layout/footer.scss";
