/* main colors */
$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$darkgray: #eaeaea;
$lightgray: #f6f6f6;
$purplegray: #f5edff;
$footerblack: #353535;
$tertiarydark:  #008766; 
/* breakpoints */
$biggestmobilewidthplus10px: 1000px;
$ipadbreakpoint: 1270px;